<div class="works-area pt-120 pb-90">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Works</span>
            <h2>Some of My Creative Projects</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="works-box">
                    <div class="works-image">
                        <a routerLink="/work-details">
                            <img src="img/photography-works/img1.jpg" alt="image">
                        </a>
                    </div>
                    <div class="works-content">
                        <h3><a routerLink="/work-details">Festival Banner</a></h3>
                        <ul>
                            <li><a routerLink=".">Web</a></li>
                            <li><a routerLink=".">Banner</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="works-box">
                    <div class="works-image">
                        <a routerLink="/work-details">
                            <img src="img/photography-works/img2.jpg" alt="image">
                        </a>
                    </div>
                    <div class="works-content">
                        <h3><a routerLink="/work-details">Wedding Cover Presentation</a></h3>
                        <ul>
                            <li><a routerLink=".">Design</a></li>
                            <li><a routerLink=".">Cover</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="works-box">
                    <div class="works-image">
                        <a routerLink="/work-details">
                            <img src="img/photography-works/img3.jpg" alt="image">
                        </a>
                    </div>
                    <div class="works-content">
                        <h3><a routerLink="/work-details">Wildlife Vector</a></h3>
                        <ul>
                            <li><a routerLink=".">Lion</a></li>
                            <li><a routerLink=".">Photo</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="works-box">
                    <div class="works-image">
                        <a routerLink="/work-details">
                            <img src="img/photography-works/img4.jpg" alt="image">
                        </a>
                    </div>
                    <div class="works-content">
                        <h3><a routerLink="/work-details">Fashion Design</a></h3>
                        <ul>
                            <li><a routerLink=".">Web</a></li>
                            <li><a routerLink=".">Design</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="works-box">
                    <div class="works-image">
                        <a routerLink="/work-details">
                            <img src="img/photography-works/img5.jpg" alt="image">
                        </a>
                    </div>
                    <div class="works-content">
                        <h3><a routerLink="/work-details">Digital Photography</a></h3>
                        <ul>
                            <li><a routerLink=".">Web</a></li>
                            <li><a routerLink=".">Photo</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>