<div class="blog-area pt-120 pb-90">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Blog</span>
            <h2>Get to Know Latest News</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post">
                    <div class="post-image">
                        <a routerLink="/blog-details">
                            <img src="img/blog/img4.jpg" alt="image">
                        </a>
                    </div>
                    <div class="post-content">
                        <ul class="post-tag">
                            <li><a routerLink=".">WordPress</a></li>
                            <li><a routerLink=".">SEO</a></li>
                            <li><a routerLink=".">Marketing</a></li>
                        </ul>
                        <h3><a routerLink="/blog-details">Olympus OM-D E-M1 Mark III Sample Images</a></h3>
                        <div class="post-meta">
                            <ul>
                                <li>By <a routerLink=".">John</a></li>
                                <li>21 February, 2025</li>
                            </ul>
                            <a routerLink="/blog-details" class="details-btn"><i class="ri-arrow-right-s-line"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post">
                    <div class="post-image">
                        <a routerLink="/blog-details">
                            <img src="img/blog/img5.jpg" alt="image">
                        </a>
                    </div>
                    <div class="post-content">
                        <ul class="post-tag">
                            <li><a routerLink=".">HTML</a></li>
                            <li><a routerLink=".">CSS</a></li>
                        </ul>
                        <h3><a routerLink="/blog-details">Sigma 24-70mm F2.8 DG DN Art Review</a></h3>
                        <div class="post-meta">
                            <ul>
                                <li>By <a routerLink=".">John</a></li>
                                <li>20 February, 2025</li>
                            </ul>
                            <a routerLink="/blog-details" class="details-btn"><i class="ri-arrow-right-s-line"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post">
                    <div class="post-image">
                        <a routerLink="/blog-details">
                            <img src="img/blog/img6.jpg" alt="image">
                        </a>
                    </div>
                    <div class="post-content">
                        <ul class="post-tag">
                            <li><a routerLink=".">JS</a></li>
                            <li><a routerLink=".">PHP</a></li>
                        </ul>
                        <h3><a routerLink="/blog-details">Connect, Share and Store with image Canon</a></h3>
                        <div class="post-meta">
                            <ul>
                                <li>By <a routerLink=".">John</a></li>
                                <li>19 February, 2025</li>
                            </ul>
                            <a routerLink="/blog-details" class="details-btn"><i class="ri-arrow-right-s-line"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>