<div class="main-container">
    <!-- Aside Navbar -->
    <rlc-aside-navbar />

    <div class="main-content position-relative">
        <!-- Service Details -->
        <div class="service-details-area bg-0f1d22 ptb-120">
            <div class="container">
                <!-- Back to Home -->
                <a routerLink="/" class="default-btn back-to-home">
                    Back to Home
                </a>
            </div>
            <div class="container">
                <div class="service-details-overview">
                    <div class="service-details-desc">
                        <h3>Business Research</h3>
                        <p>
                            We believe brand interaction is key in
                            communication. Real innovations and a positive
                            customer experience are the heart of successful
                            communication. No fake products and services. The
                            customer is king, their lives and needs are the
                            inspiration.
                        </p>
                        <div class="features-text">
                            <h4>
                                <i class="ri-check-line"></i> Core Development
                            </h4>
                            <p>
                                No fake products and services. The customer is
                                king, their lives and needs are the inspiration.
                            </p>
                        </div>
                        <div class="features-text">
                            <h4>
                                <i class="ri-check-line"></i> Define Your
                                Choices
                            </h4>
                            <p>
                                No fake products and services. The customer is
                                king, their lives and needs are the inspiration.
                            </p>
                        </div>
                    </div>
                    <div class="service-details-image">
                        <img src="img/blog/img9.jpg" alt="image" />
                    </div>
                </div>
                <div class="service-details-overview">
                    <div class="service-details-image">
                        <img src="img/blog/img1.jpg" alt="image" />
                    </div>
                    <div class="service-details-desc">
                        <h3>Email Marketing</h3>
                        <p>
                            We believe brand interaction is key in
                            communication. Real innovations and a positive
                            customer experience are the heart of successful
                            communication. No fake products and services. The
                            customer is king, their lives and needs are the
                            inspiration.
                        </p>
                        <div class="features-text">
                            <h4>
                                <i class="ri-check-line"></i> Core Development
                            </h4>
                            <p>
                                No fake products and services. The customer is
                                king, their lives and needs are the inspiration.
                            </p>
                        </div>
                        <div class="features-text">
                            <h4>
                                <i class="ri-check-line"></i> Define Your
                                Choices
                            </h4>
                            <p>
                                No fake products and services. The customer is
                                king, their lives and needs are the inspiration.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <rlc-footer />
    </div>
</div>

<!-- Sidebar Demos -->
<!-- <rlc-sidebar-demos /> -->
