.cta-content {
    .sub-title {
        display: block;
        color: var(--primaryColor);
        margin-bottom: 12px;
        font: {
            size: 18px;
            weight: 600;
        };
    }
    h2 {
        margin-bottom: 0;
        color: var(--whiteColor);
        font: {
            size: 40px;
            weight: 700;
        };
    }
}
.cta-btn {
    text-align: end;
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .cta-content {
        text-align: center;

        .sub-title {
            margin-bottom: 10px;
            font-size: 15px;
        }
        h2 {
            max-width: 100%;
            font-size: 25px;
            line-height: 1.4;
        }
    }
    .cta-btn {
        text-align: center;
        margin-top: 25px;
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .cta-content {
        text-align: center;

        h2 {
            font-size: 35px;
        }
    }
    .cta-btn {
        text-align: center;
        margin-top: 25px;
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {}

/* Min width 1550px */
@media only screen and (min-width: 1550px) {}