<div class="demo-modal-panel">
    <button
        class="sidebar-demo-control"
        (click)="toggleClass()"
        type="button"
    >
        <span>
            Demos
        </span>
    </button>
</div>

<div
    class="example-demo-modal"
    [class.active]="classApplied"
>
    <div class="inner">
        <ul>
            <li>
                <div class="single-demo" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <img src="img/demo-img/home-1.jpg" alt="image">
                    <span>Digital Marketer</span>
                    <a routerLink="/" class="link-btn"></a>
                </div>
            </li>
            <li>
                <div class="single-demo" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <img src="img/demo-img/home-2.jpg" alt="image">
                    <span>Photographer</span>
                    <a routerLink="/index-2" class="link-btn"></a>
                </div>
            </li>
            <li>
                <div class="single-demo" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <img src="img/demo-img/home-3.jpg" alt="image">
                    <span>Gym Trainer</span>
                    <a routerLink="/index-3" class="link-btn"></a>
                </div>
            </li>
            <li>
                <div class="single-demo" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <img src="img/demo-img/home-4.jpg" alt="image">
                    <span>Footballer</span>
                    <a routerLink="/index-4" class="link-btn"></a>
                </div>
            </li>
            <li>
                <div class="single-demo" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <img src="img/demo-img/home-5.jpg" alt="image">
                    <span>Digital Agency</span>
                    <a routerLink="/index-5" class="link-btn"></a>
                </div>
            </li>
            <li>
                <div class="single-demo" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <img src="img/demo-img/home-6.jpg" alt="image">
                    <span>Backpacker</span>
                    <a routerLink="/index-6" class="link-btn"></a>
                </div>
            </li>
            <li>
                <div class="single-demo" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <img src="img/demo-img/home-7.jpg" alt="image">
                    <span>Digital Marketer</span>
                    <a routerLink="/index-7" class="link-btn"></a>
                </div>
            </li>
            <li>
                <div class="single-demo" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <img src="img/demo-img/home-8.jpg" alt="image">
                    <span>Photographer</span>
                    <a routerLink="/index-8" class="link-btn"></a>
                </div>
            </li>
            <li>
                <div class="single-demo" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <img src="img/demo-img/home-9.jpg" alt="image">
                    <span>Gym Trainer</span>
                    <a routerLink="/index-9" class="link-btn"></a>
                </div>
            </li>
            <li>
                <div class="single-demo" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <img src="img/demo-img/home-10.jpg" alt="image">
                    <span>Footballer</span>
                    <a routerLink="/index-10" class="link-btn"></a>
                </div>
            </li>
            <li>
                <div class="single-demo" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <img src="img/demo-img/home-11.jpg" alt="image">
                    <span>Digital Agency</span>
                    <a routerLink="/index-11" class="link-btn"></a>
                </div>
            </li>
            <li>
                <div class="single-demo" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <img src="img/demo-img/home-12.jpg" alt="image">
                    <span>Backpacker</span>
                    <a routerLink="/index-12" class="link-btn"></a>
                </div>
            </li>
            <li>
                <div class="single-demo" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <img src="img/demo-img/home-13.jpg" alt="image">
                    <span>Digital Marketer</span>
                    <a routerLink="/index-13" class="link-btn"></a>
                </div>
            </li>
            <li>
                <div class="single-demo" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <img src="img/demo-img/home-14.jpg" alt="image">
                    <span>Photographer</span>
                    <a routerLink="/index-14" class="link-btn"></a>
                </div>
            </li>
            <li>
                <div class="single-demo" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <img src="img/demo-img/home-15.jpg" alt="image">
                    <span>Gym Trainer</span>
                    <a routerLink="/index-15" class="link-btn"></a>
                </div>
            </li>
            <li>
                <div class="single-demo" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <img src="img/demo-img/home-16.jpg" alt="image">
                    <span>Footballer</span>
                    <a routerLink="/index-16" class="link-btn"></a>
                </div>
            </li>
            <li>
                <div class="single-demo" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <img src="img/demo-img/home-17.jpg" alt="image">
                    <span>Digital Agency</span>
                    <a routerLink="/index-17" class="link-btn"></a>
                </div>
            </li>
            <li>
                <div class="single-demo" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <img src="img/demo-img/home-18.jpg" alt="image">
                    <span>Backpacker</span>
                    <a routerLink="/index-18" class="link-btn"></a>
                </div>
            </li>
            <li>
                <div class="single-demo" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <img src="img/demo-img/home-19.jpg" alt="image">
                    <span>Digital Marketer</span>
                    <a routerLink="/index-19" class="link-btn"></a>
                </div>
            </li>
            <li>
                <div class="single-demo" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <img src="img/demo-img/home-20.jpg" alt="image">
                    <span>Photographer</span>
                    <a routerLink="/index-20" class="link-btn"></a>
                </div>
            </li>
            <li>
                <div class="single-demo" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <img src="img/demo-img/home-21.jpg" alt="image">
                    <span>Gym Trainer</span>
                    <a routerLink="/index-21" class="link-btn"></a>
                </div>
            </li>
            <li>
                <div class="single-demo" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <img src="img/demo-img/home-22.jpg" alt="image">
                    <span>Footballer</span>
                    <a routerLink="/index-22" class="link-btn"></a>
                </div>
            </li>
            <li>
                <div class="single-demo" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <img src="img/demo-img/home-23.jpg" alt="image">
                    <span>Digital Agency</span>
                    <a routerLink="/index-23" class="link-btn"></a>
                </div>
            </li>
            <li>
                <div class="single-demo" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <img src="img/demo-img/home-24.jpg" alt="image">
                    <span>Backpacker</span>
                    <a routerLink="/index-24" class="link-btn"></a>
                </div>
            </li>
            <li>
                <div class="single-demo" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <img src="img/demo-img/home-25.jpg" alt="image">
                    <span>Digital Marketer</span>
                    <a routerLink="/index-25" class="link-btn"></a>
                </div>
            </li>
            <li>
                <div class="single-demo" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <img src="img/demo-img/home-26.jpg" alt="image">
                    <span>Photographer</span>
                    <a routerLink="/index-26" class="link-btn"></a>
                </div>
            </li>
            <li>
                <div class="single-demo" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <img src="img/demo-img/home-27.jpg" alt="image">
                    <span>Gym Trainer</span>
                    <a routerLink="/index-27" class="link-btn"></a>
                </div>
            </li>
            <li>
                <div class="single-demo" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <img src="img/demo-img/home-28.jpg" alt="image">
                    <span>Footballer</span>
                    <a routerLink="/index-28" class="link-btn"></a>
                </div>
            </li>
            <li>
                <div class="single-demo" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <img src="img/demo-img/home-29.jpg" alt="image">
                    <span>Digital Agency</span>
                    <a routerLink="/index-29" class="link-btn"></a>
                </div>
            </li>
            <li>
                <div class="single-demo" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <img src="img/demo-img/home-30.jpg" alt="image">
                    <span>Backpacker</span>
                    <a routerLink="/index-30" class="link-btn"></a>
                </div>
            </li>
            <li>
                <div class="single-demo" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <img src="img/demo-img/home-31.jpg" alt="image">
                    <span>Digital Marketer</span>
                    <a routerLink="/index-31" class="link-btn"></a>
                </div>
            </li>
            <li>
                <div class="single-demo" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <img src="img/demo-img/home-32.jpg" alt="image">
                    <span>Photographer</span>
                    <a routerLink="/index-32" class="link-btn"></a>
                </div>
            </li>
            <li>
                <div class="single-demo" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <img src="img/demo-img/home-33.jpg" alt="image">
                    <span>Gym Trainer</span>
                    <a routerLink="/index-33" class="link-btn"></a>
                </div>
            </li>
            <li>
                <div class="single-demo" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <img src="img/demo-img/home-34.jpg" alt="image">
                    <span>Footballer</span>
                    <a routerLink="/index-34" class="link-btn"></a>
                </div>
            </li>
            <li>
                <div class="single-demo" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <img src="img/demo-img/home-35.jpg" alt="image">
                    <span>Digital Agency</span>
                    <a routerLink="/index-35" class="link-btn"></a>
                </div>
            </li>
            <li>
                <div class="single-demo" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <img src="img/demo-img/home-36.jpg" alt="image">
                    <span>Backpacker</span>
                    <a routerLink="/index-36" class="link-btn"></a>
                </div>
            </li>
            <li>
                <div class="single-demo" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <img src="img/demo-img/home-37.jpg" alt="image">
                    <span>Digital Marketer</span>
                    <a routerLink="/index-37" class="link-btn"></a>
                </div>
            </li>
            <li>
                <div class="single-demo" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <img src="img/demo-img/home-38.jpg" alt="image">
                    <span>Fixed Background</span>
                    <a routerLink="/index-38" class="link-btn"></a>
                </div>
            </li>
            <li>
                <div class="single-demo" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <img src="img/demo-img/home-39.jpg" alt="image">
                    <span>Particles Animation</span>
                    <a routerLink="/index-39" class="link-btn"></a>
                </div>
            </li>
            <li>
                <div class="single-demo" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <img src="img/demo-img/home-40.jpg" alt="image">
                    <span>Background Video</span>
                    <a routerLink="/index-40" class="link-btn"></a>
                </div>
            </li>
            <li>
                <div class="single-demo" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <img src="img/demo-img/service-details.jpg" alt="image">
                    <span>Service Details</span>
                    <a routerLink="/service-details" class="link-btn"></a>
                </div>
            </li>
            <li>
                <div class="single-demo" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <img src="img/demo-img/work-details.jpg" alt="image">
                    <span>Work Details</span>
                    <a routerLink="/work-details" class="link-btn"></a>
                </div>
            </li>
            <li>
                <div class="single-demo" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <img src="img/demo-img/blog-details.jpg" alt="image">
                    <span>Blog Details</span>
                    <a routerLink="/blog-details" class="link-btn"></a>
                </div>
            </li>
        </ul>
    </div>
    <div class="header-title">
        <button
            type="button"
            (click)="toggleClass()"
            class="example-demo-modal-control"
        >
            <i class="ri-close-line"></i>
        </button>
        <div class="title">
            Demos
        </div>
    </div>
</div>