<div class="blog-area pt-120 pb-90">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Blog</span>
            <h2>Get to Know Latest Blog</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post">
                    <div class="post-image">
                        <a routerLink="/blog-details">
                            <img src="img/blog/img7.jpg" alt="image">
                        </a>
                    </div>
                    <div class="post-content">
                        <ul class="post-tag">
                            <li><a routerLink=".">Gym</a></li>
                            <li><a routerLink=".">Fit</a></li>
                        </ul>
                        <h3><a routerLink="/blog-details">How to keep fit over the summer holidays</a></h3>
                        <div class="post-meta">
                            <ul>
                                <li>By <a routerLink=".">John</a></li>
                                <li>21 February, 2025</li>
                            </ul>
                            <a routerLink="/blog-details" class="details-btn"><i class="ri-arrow-right-s-line"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post">
                    <div class="post-image">
                        <a routerLink="/blog-details">
                            <img src="img/blog/img8.jpg" alt="image">
                        </a>
                    </div>
                    <div class="post-content">
                        <ul class="post-tag">
                            <li><a routerLink=".">Record</a></li>
                            <li><a routerLink=".">Win</a></li>
                        </ul>
                        <h3><a routerLink="/blog-details">Friend of Placid gym breaks deadlift world record</a></h3>
                        <div class="post-meta">
                            <ul>
                                <li>By <a routerLink=".">John</a></li>
                                <li>20 February, 2025</li>
                            </ul>
                            <a routerLink="/blog-details" class="details-btn"><i class="ri-arrow-right-s-line"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post">
                    <div class="post-image">
                        <a routerLink="/blog-details">
                            <img src="img/blog/img9.jpg" alt="image">
                        </a>
                    </div>
                    <div class="post-content">
                        <ul class="post-tag">
                            <li><a routerLink=".">Gym</a></li>
                            <li><a routerLink=".">Class</a></li>
                        </ul>
                        <h3><a routerLink="/blog-details">The beginner's guide to gym classes</a></h3>
                        <div class="post-meta">
                            <ul>
                                <li>By <a routerLink=".">John</a></li>
                                <li>19 February, 2025</li>
                            </ul>
                            <a routerLink="/blog-details" class="details-btn"><i class="ri-arrow-right-s-line"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>