<div class="blog-area pt-120 pb-90">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Blog</span>
            <h2>Get to Know Latest Blog</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post">
                    <div class="post-image">
                        <a routerLink="/blog-details">
                            <img src="img/blog/img10.jpg" alt="image">
                        </a>
                    </div>
                    <div class="post-content">
                        <ul class="post-tag">
                            <li><a routerLink=".">Assist</a></li>
                            <li><a routerLink=".">Goal</a></li>
                        </ul>
                        <h3><a routerLink="/blog-details">Alexander provides assist in win over FCB</a></h3>
                        <div class="post-meta">
                            <ul>
                                <li>By <a routerLink=".">Alexander</a></li>
                                <li>21 February, 2025</li>
                            </ul>
                            <a routerLink="/blog-details" class="details-btn"><i class="ri-arrow-right-s-line"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post">
                    <div class="post-image">
                        <a routerLink="/blog-details">
                            <img src="img/blog/img11.jpg" alt="image">
                        </a>
                    </div>
                    <div class="post-content">
                        <ul class="post-tag">
                            <li><a routerLink=".">Record</a></li>
                            <li><a routerLink=".">Win</a></li>
                        </ul>
                        <h3><a routerLink="/blog-details">Alexander Ludwig's stats after latest matchday</a></h3>
                        <div class="post-meta">
                            <ul>
                                <li>By <a routerLink=".">Alexander</a></li>
                                <li>20 February, 2025</li>
                            </ul>
                            <a routerLink="/blog-details" class="details-btn"><i class="ri-arrow-right-s-line"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post">
                    <div class="post-image">
                        <a routerLink="/blog-details">
                            <img src="img/blog/img12.jpg" alt="image">
                        </a>
                    </div>
                    <div class="post-content">
                        <ul class="post-tag">
                            <li><a routerLink=".">Football</a></li>
                            <li><a routerLink=".">Class</a></li>
                        </ul>
                        <h3><a routerLink="/blog-details">The beginner's guide to Football classes</a></h3>
                        <div class="post-meta">
                            <ul>
                                <li>By <a routerLink=".">Alexander</a></li>
                                <li>19 February, 2025</li>
                            </ul>
                            <a routerLink="/blog-details" class="details-btn"><i class="ri-arrow-right-s-line"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>