<!-- Default -->
<div
    class="about-area ptb-120"
    [ngClass]="{'d-none': router.url === '/index-9' || router.url === '/index-21'}"
>
    <div class="container">
        <div class="section-title">
            <span class="sub-title">About Me</span>
            <h2>Leading the way to a Pumped Up and Refreshing Life</h2>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-8 col-md-12">
                <div class="about-content">
                    <p>Hey there, want to live a healthy and refreshing life? I am a professional gym trainer here to guide you. Bring your body to the perfect shape you desire with our nutrition plan specifically designed keeping your personal need in mind. Our target is to make it a habit to build your life fit and healthy.</p>
                    <div class="tab about-list-tab">
                        <ul class="tabs">
                            <li (click)="switchTab($event, 'tab1')" [ngClass]="{'active': currentTab === 'tab1'}">
                                Skills
                            </li>
                            <li (click)="switchTab($event, 'tab2')" [ngClass]="{'active': currentTab === 'tab2'}">
                                Awards
                            </li>
                            <li (click)="switchTab($event, 'tab3')" [ngClass]="{'active': currentTab === 'tab3'}">
                                Experience
                            </li>
                            <li (click)="switchTab($event, 'tab4')" [ngClass]="{'active': currentTab === 'tab4'}">
                                Education
                            </li>
                            <li (click)="switchTab($event, 'tab5')" [ngClass]="{'active': currentTab === 'tab5'}">
                                Certification
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tabs-item" id="tab1" *ngIf="currentTab === 'tab1'">
                                <div class="skills-area">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <div class="skills-item">
                                                <div class="skills-header">
                                                    <h3 class="skills-title">Flexible</h3>
                                                    <div class="skills-percentage">
                                                        <div class="count-box">
                                                            <span class="count-text">85%</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="skills-bar">
                                                    <div class="bar-inner">
                                                        <div class="bar progress-line" style="width: 85%;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <div class="skills-item">
                                                <div class="skills-header">
                                                    <h3 class="skills-title">Organized</h3>
                                                    <div class="skills-percentage">
                                                        <span class="count-text">90%</span>
                                                    </div>
                                                </div>
                                                <div class="skills-bar">
                                                    <div class="bar-inner">
                                                        <div class="bar progress-line" style="width: 90%;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <div class="skills-item">
                                                <div class="skills-header">
                                                    <h3 class="skills-title">Stamina</h3>
                                                    <div class="skills-percentage">
                                                        <span class="count-text">87%</span>
                                                    </div>
                                                </div>
                                                <div class="skills-bar">
                                                    <div class="bar-inner">
                                                        <div class="bar progress-line" style="width: 87%;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <div class="skills-item">
                                                <div class="skills-header">
                                                    <h3 class="skills-title">Teaching</h3>
                                                    <div class="skills-percentage">
                                                        <span class="count-text">92%</span>
                                                    </div>
                                                </div>
                                                <div class="skills-bar">
                                                    <div class="bar-inner">
                                                        <div class="bar progress-line" style="width: 92%;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <div class="skills-item">
                                                <div class="skills-header">
                                                    <h3 class="skills-title">Strong Leadership</h3>
                                                    <div class="skills-percentage">
                                                        <span class="count-text">77%</span>
                                                    </div>
                                                </div>
                                                <div class="skills-bar">
                                                    <div class="bar-inner">
                                                        <div class="bar progress-line" style="width: 77%;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <div class="skills-item">
                                                <div class="skills-header">
                                                    <h3 class="skills-title">Motivational</h3>
                                                    <div class="skills-percentage">
                                                        <span class="count-text">75%</span>
                                                    </div>
                                                </div>
                                                <div class="skills-bar">
                                                    <div class="bar-inner">
                                                        <div class="bar progress-line" style="width: 75%;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <div class="skills-item">
                                                <div class="skills-header">
                                                    <h3 class="skills-title">Helpful</h3>
                                                    <div class="skills-percentage">
                                                        <span class="count-text">80%</span>
                                                    </div>
                                                </div>
                                                <div class="skills-bar">
                                                    <div class="bar-inner">
                                                        <div class="bar progress-line" style="width: 80%;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <div class="skills-item">
                                                <div class="skills-header">
                                                    <h3 class="skills-title">Friendly</h3>
                                                    <div class="skills-percentage">
                                                        <span class="count-text">85%</span>
                                                    </div>
                                                </div>
                                                <div class="skills-bar">
                                                    <div class="bar-inner">
                                                        <div class="bar progress-line" style="width: 85%;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tabs-item" id="tab2" *ngIf="currentTab === 'tab2'">
                                <div class="awards-area">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                                            <div class="single-awards-box">
                                                <img src="img/awards/img1.png" alt="image">
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                                            <div class="single-awards-box">
                                                <img src="img/awards/img2.png" alt="image">
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                                            <div class="single-awards-box">
                                                <img src="img/awards/img3.png" alt="image">
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                                            <div class="single-awards-box">
                                                <img src="img/awards/img4.png" alt="image">
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                                            <div class="single-awards-box">
                                                <img src="img/awards/img5.png" alt="image">
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                                            <div class="single-awards-box">
                                                <img src="img/awards/img6.png" alt="image">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tabs-item" id="tab3" *ngIf="currentTab === 'tab3'">
                                <div class="experience-area">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <div class="single-experience-box">
                                                <span>2010 - 2012 (Gym Trainer)</span>
                                                <h3>Primary Group, Inc.</h3>
                                                <p>Lorem ipsum dolor sit amet, elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <div class="single-experience-box">
                                                <span>2012 - 2015 (Gym Trainer)</span>
                                                <h3>EnvyTheme Co.</h3>
                                                <p>Lorem ipsum dolor sit amet, elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <div class="single-experience-box">
                                                <span>2015 - 2018 (Gym Trainer)</span>
                                                <h3>Envato Co.</h3>
                                                <p>Lorem ipsum dolor sit amet, elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <div class="single-experience-box">
                                                <span>2018 - 2025 (Gym Trainer)</span>
                                                <h3>Themeforest Co.</h3>
                                                <p>Lorem ipsum dolor sit amet, elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tabs-item" id="tab4" *ngIf="currentTab === 'tab4'">
                                <div class="education-area">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <div class="single-education-box">
                                                <span>2010 - 2012 (Bachelor's Degree)</span>
                                                <h3>Stanford University</h3>
                                                <p>Lorem ipsum dolor sit amet, elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <div class="single-education-box">
                                                <span>2010 - 2012 (Bachelor's Degree)</span>
                                                <h3>Harvard University</h3>
                                                <p>Lorem ipsum dolor sit amet, elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <div class="single-education-box">
                                                <span>2010 - 2012 (Bachelor's Degree)</span>
                                                <h3>Columbia University</h3>
                                                <p>Lorem ipsum dolor sit amet, elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <div class="single-education-box">
                                                <span>2010 - 2012 (Bachelor's Degree)</span>
                                                <h3>Stanford University</h3>
                                                <p>Lorem ipsum dolor sit amet, elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tabs-item" id="tab5" *ngIf="currentTab === 'tab5'">
                                <div class="certification-area">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                                            <div class="single-certification-box">
                                                <img src="img/certification/img1.png" alt="image">
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                                            <div class="single-certification-box">
                                                <img src="img/certification/img2.png" alt="image">
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                                            <div class="single-certification-box">
                                                <img src="img/certification/img3.png" alt="image">
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                                            <div class="single-certification-box">
                                                <img src="img/certification/img4.png" alt="image">
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                                            <div class="single-certification-box">
                                                <img src="img/certification/img5.png" alt="image">
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                                            <div class="single-certification-box">
                                                <img src="img/certification/img6.png" alt="image">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="about-image">
                    <img src="img/about-img3.jpg" alt="image">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Only for Home Demo - 9 -->
<div
    class="about-area ptb-120"
    *ngIf="router.url === '/index-9' || router.url === '/index-21'"
>
    <div class="container">
        <div class="tab about-list-tab-2">
            <div class="row align-items-center">
                <div class="col-lg-2 col-md-12">
                    <div class="tabs-list">
                        <ul class="tabs">
                            <li (click)="switchTab($event, 'tab1')" [ngClass]="{'active': currentTab === 'tab1'}">
                                About
                            </li>
                            <li (click)="switchTab($event, 'tab2')" [ngClass]="{'active': currentTab === 'tab2'}">
                                Skills
                            </li>
                            <li (click)="switchTab($event, 'tab3')" [ngClass]="{'active': currentTab === 'tab3'}">
                                Awards
                            </li>
                            <li (click)="switchTab($event, 'tab4')" [ngClass]="{'active': currentTab === 'tab4'}">
                                Experience
                            </li>
                            <li (click)="switchTab($event, 'tab5')" [ngClass]="{'active': currentTab === 'tab5'}">
                                Education
                            </li>
                            <li (click)="switchTab($event, 'tab6')" [ngClass]="{'active': currentTab === 'tab6'}">
                                Certification
                            </li>
                            <li (click)="switchTab($event, 'tab7')" [ngClass]="{'active': currentTab === 'tab7'}">
                                Interview
                            </li>
                            <li (click)="switchTab($event, 'tab8')" [ngClass]="{'active': currentTab === 'tab8'}">
                                Social
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-10 col-md-12">
                    <div class="tab-content">
                        <div class="tabs-item" id="tab1" *ngIf="currentTab === 'tab1'">
                            <div class="about-inner-area">
                                <div class="row align-items-center">
                                    <div class="col-lg-7 col-md-12">
                                        <div class="about-content">
                                            <span class="sub-title">About Me</span>
                                            <h2>Leading the way to a pumped up and refreshing life</h2>
                                            <p>Starting an online business? I work from a business owner's viewpoint, studying every facet of your business model to effectively manage your marketing. The main focus is to get your business into a perfect shape and cross one barrier after another by doing all the research and market analysis. Your business is my priority.</p>
                                            <a routerLink="." class="default-btn" (click)="onClick('contact')">Hire Me</a>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-md-12">
                                        <div class="about-image">
                                            <img src="img/about-img3.jpg" alt="image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tabs-item" id="tab2" *ngIf="currentTab === 'tab2'">
                            <div class="skills-area">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="skills-item">
                                            <div class="skills-header">
                                                <h3 class="skills-title">Flexible</h3>
                                                <div class="skills-percentage">
                                                    <div class="count-box">
                                                        <span class="count-text">85%</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="skills-bar">
                                                <div class="bar-inner">
                                                    <div class="bar progress-line" style="width: 85%;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="skills-item">
                                            <div class="skills-header">
                                                <h3 class="skills-title">Organized</h3>
                                                <div class="skills-percentage">
                                                    <span class="count-text">90%</span>
                                                </div>
                                            </div>
                                            <div class="skills-bar">
                                                <div class="bar-inner">
                                                    <div class="bar progress-line" style="width: 90%;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="skills-item">
                                            <div class="skills-header">
                                                <h3 class="skills-title">Stamina</h3>
                                                <div class="skills-percentage">
                                                    <span class="count-text">87%</span>
                                                </div>
                                            </div>
                                            <div class="skills-bar">
                                                <div class="bar-inner">
                                                    <div class="bar progress-line" style="width: 87%;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="skills-item">
                                            <div class="skills-header">
                                                <h3 class="skills-title">Teaching</h3>
                                                <div class="skills-percentage">
                                                    <span class="count-text">92%</span>
                                                </div>
                                            </div>
                                            <div class="skills-bar">
                                                <div class="bar-inner">
                                                    <div class="bar progress-line" style="width: 92%;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="skills-item">
                                            <div class="skills-header">
                                                <h3 class="skills-title">Strong Leadership</h3>
                                                <div class="skills-percentage">
                                                    <span class="count-text">77%</span>
                                                </div>
                                            </div>
                                            <div class="skills-bar">
                                                <div class="bar-inner">
                                                    <div class="bar progress-line" style="width: 77%;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="skills-item">
                                            <div class="skills-header">
                                                <h3 class="skills-title">Motivational</h3>
                                                <div class="skills-percentage">
                                                    <span class="count-text">75%</span>
                                                </div>
                                            </div>
                                            <div class="skills-bar">
                                                <div class="bar-inner">
                                                    <div class="bar progress-line" style="width: 75%;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="skills-item">
                                            <div class="skills-header">
                                                <h3 class="skills-title">Helpful</h3>
                                                <div class="skills-percentage">
                                                    <span class="count-text">80%</span>
                                                </div>
                                            </div>
                                            <div class="skills-bar">
                                                <div class="bar-inner">
                                                    <div class="bar progress-line" style="width: 80%;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="skills-item">
                                            <div class="skills-header">
                                                <h3 class="skills-title">Friendly</h3>
                                                <div class="skills-percentage">
                                                    <span class="count-text">85%</span>
                                                </div>
                                            </div>
                                            <div class="skills-bar">
                                                <div class="bar-inner">
                                                    <div class="bar progress-line" style="width: 85%;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tabs-item" id="tab3" *ngIf="currentTab === 'tab3'">
                            <div class="awards-area">
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 col-sm-4 col-6">
                                        <div class="single-awards-box">
                                            <img src="img/awards/img1.png" alt="image">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-4 col-6">
                                        <div class="single-awards-box">
                                            <img src="img/awards/img2.png" alt="image">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-4 col-6">
                                        <div class="single-awards-box">
                                            <img src="img/awards/img3.png" alt="image">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-4 col-6">
                                        <div class="single-awards-box">
                                            <img src="img/awards/img4.png" alt="image">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-4 col-6">
                                        <div class="single-awards-box">
                                            <img src="img/awards/img5.png" alt="image">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-4 col-6">
                                        <div class="single-awards-box">
                                            <img src="img/awards/img6.png" alt="image">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-4 col-6">
                                        <div class="single-awards-box">
                                            <img src="img/awards/img7.png" alt="image">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-4 col-6">
                                        <div class="single-awards-box">
                                            <img src="img/awards/img8.png" alt="image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tabs-item" id="tab4" *ngIf="currentTab === 'tab4'">
                            <div class="experience-area">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="single-experience-box">
                                            <span>2010 - 2012 (Gym Trainer)</span>
                                            <h3>Primary Group, Inc.</h3>
                                            <p>Lorem ipsum dolor sit amet, elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="single-experience-box">
                                            <span>2012 - 2015 (Gym Trainer)</span>
                                            <h3>EnvyTheme Co.</h3>
                                            <p>Lorem ipsum dolor sit amet, elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="single-experience-box">
                                            <span>2015 - 2018 (Gym Trainer)</span>
                                            <h3>Envato Co.</h3>
                                            <p>Lorem ipsum dolor sit amet, elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="single-experience-box">
                                            <span>2018 - 2025 (Gym Trainer)</span>
                                            <h3>Themeforest Co.</h3>
                                            <p>Lorem ipsum dolor sit amet, elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tabs-item" id="tab5" *ngIf="currentTab === 'tab5'">
                            <div class="education-area">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="single-education-box">
                                            <span>2010 - 2012 (Bachelor's Degree)</span>
                                            <h3>Stanford University</h3>
                                            <p>Lorem ipsum dolor sit amet, elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="single-education-box">
                                            <span>2010 - 2012 (Bachelor's Degree)</span>
                                            <h3>Harvard University</h3>
                                            <p>Lorem ipsum dolor sit amet, elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="single-education-box">
                                            <span>2010 - 2012 (Bachelor's Degree)</span>
                                            <h3>Columbia University</h3>
                                            <p>Lorem ipsum dolor sit amet, elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="single-education-box">
                                            <span>2010 - 2012 (Bachelor's Degree)</span>
                                            <h3>Stanford University</h3>
                                            <p>Lorem ipsum dolor sit amet, elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tabs-item" id="tab6" *ngIf="currentTab === 'tab6'">
                            <div class="certification-area">
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 col-sm-4 col-6">
                                        <div class="single-certification-box">
                                            <img src="img/certification/img1.png" alt="image">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-4 col-6">
                                        <div class="single-certification-box">
                                            <img src="img/certification/img2.png" alt="image">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-4 col-6">
                                        <div class="single-certification-box">
                                            <img src="img/certification/img3.png" alt="image">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-4 col-6">
                                        <div class="single-certification-box">
                                            <img src="img/certification/img4.png" alt="image">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-4 col-6">
                                        <div class="single-certification-box">
                                            <img src="img/certification/img5.png" alt="image">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-4 col-6">
                                        <div class="single-certification-box">
                                            <img src="img/certification/img6.png" alt="image">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-4 col-6">
                                        <div class="single-certification-box">
                                            <img src="img/certification/img7.png" alt="image">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-4 col-6">
                                        <div class="single-certification-box">
                                            <img src="img/certification/img8.png" alt="image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tabs-item" id="tab7" *ngIf="currentTab === 'tab7'">
                            <div class="interview-area">
                                <div class="row">
                                    <div class="col-lg-4 col-md-6 col-sm-6">
                                        <div class="single-interview-video">
                                            <img src="img/interview/img1.jpg" alt="image">
                                            <a href="https://www.youtube.com/watch?v=bk7McNUjWgw" class="video-btn popup-youtube" target="_blank"></a>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-6">
                                        <div class="single-interview-video">
                                            <img src="img/interview/img2.jpg" alt="image">
                                            <a href="https://www.youtube.com/watch?v=bk7McNUjWgw" class="video-btn popup-youtube" target="_blank"></a>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-6">
                                        <div class="single-interview-video">
                                            <img src="img/interview/img3.jpg" alt="image">
                                            <a href="https://www.youtube.com/watch?v=bk7McNUjWgw" class="video-btn popup-youtube" target="_blank"></a>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-6">
                                        <div class="single-interview-video">
                                            <img src="img/interview/img4.jpg" alt="image">
                                            <a href="https://www.youtube.com/watch?v=bk7McNUjWgw" class="video-btn popup-youtube" target="_blank"></a>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-6">
                                        <div class="single-interview-video">
                                            <img src="img/interview/img5.jpg" alt="image">
                                            <a href="https://www.youtube.com/watch?v=bk7McNUjWgw" class="video-btn popup-youtube" target="_blank"></a>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-6">
                                        <div class="single-interview-video">
                                            <img src="img/interview/img6.jpg" alt="image">
                                            <a href="https://www.youtube.com/watch?v=bk7McNUjWgw" class="video-btn popup-youtube" target="_blank"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tabs-item" id="tab8" *ngIf="currentTab === 'tab8'">
                            <div class="social-area">
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com/" class="facebook">
                                            <i class="ri-facebook-fill"></i>
                                            <span> - Facebook</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://x.com/" class="twitter">
                                            <i class="ri-twitter-x-line"></i>
                                            <span> - X</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com/" class="linkedin">
                                            <i class="ri-linkedin-fill"></i>
                                            <span> - Linkedin</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/" class="instagram">
                                            <i class="ri-instagram-line"></i>
                                            <span> - Instagram</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://dribbble.com/" class="dribbble">
                                            <i class="ri-dribbble-line"></i>
                                            <span> - Dribbble</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.behance.net/" class="behance">
                                            <i class="ri-behance-fill"></i>
                                            <span> - Behance</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>