<div class="main-container">
    <!-- Aside Navbar -->
    <rlc-aside-navbar />

    <div class="main-content position-relative">
        <!-- Banner -->
        <rlc-digital-marketer-banner />

        <!-- About -->
        <div id="about">
            <rlc-digital-marketer-about />
        </div>

        <!-- Services -->
        <div id="services">
            <rlc-digital-marketer-services />
        </div>

        <!-- Works -->
        <div id="works">
            <rlc-works />
        </div>

        <!-- Feedback -->
        <rlc-feedback />

        <!-- Clients -->
        <rlc-clients />

        <!-- Hire Me -->
        <rlc-hire-me />

        <!-- Blog -->
        <div id="blog">
            <rlc-blogs />
        </div>

        <!-- Contact -->
        <div id="contact">
            <rlc-contact />
        </div>

        <!-- Footer -->
        <rlc-footer />
    </div>
</div>

<!-- Sidebar Demos -->
<!-- <rlc-sidebar-demos /> -->
