<div class="main-container">
    <!-- Aside Navbar -->
    <rlc-aside-navbar />

    <div class="main-content position-relative">
        <!-- Banner -->
        <rlc-digital-marketer-banner />
         <!-- Activities -->
        <div id="activities">
            <rlc-activities />
        </div>

        <!-- Accomidations -->
        <div>
            <rlc-accomodations />
        </div>
        <!-- Services -->
        <div id="services">
            <rlc-glamping-services />
        </div>
        <!-- Feedback -->
        <rlc-feedback />

        <!-- Clients -->
        <rlc-clients />

        <!-- Hire Me -->
        <rlc-hire-me />

        <!-- Blog -->
        <div id="blog">
            <rlc-blogs />
        </div>

        <!-- Contact -->
        <div id="contact">
            <rlc-contact />
        </div>

        <!-- Footer -->
        <rlc-footer />
    </div>
</div>

<!-- Sidebar Demos -->
<!-- <rlc-sidebar-demos /> -->
