<div class="hire-me-area bg-0f1d22 ptb-120">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 col-md-12">
                <div class="hire-me-content">
                    <span class="sub-title">Have you any project?</span>
                    <h2>I am Available for Freelance Hire</h2>
                </div>
            </div>
            <div class="col-lg-5 col-md-12">
                <div class="hire-me-btn">
                    <a routerLink="." class="default-btn" (click)="onClick('contact')">Hire Me</a>
                </div>
            </div>
        </div>
    </div>
</div>