<!-- Default -->
<div
    class="home-slides-two"
    [ngClass]="{'d-none': router.url === '/index-29' || router.url === '/index-35'}"
>
    <owl-carousel-o [options]="homeSlides">
        <ng-template carouselSlide>
            <div
                class="main-banner"
                style="background-image: url(img/main-banner10.jpg);"
            >
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="container">
                            <div class="home-banner-content">
                                <h1 data-shadow='We Connect You to Your Consumers'>We Connect You to Your Consumers</h1>
                                <p>An Agency is a service company hired to plan, create, and handle marketing or advertising related activities on behalf of its clients.</p>
                                <a routerLink="." class="default-btn" (click)="onClick('contact')">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div
                class="main-banner"
                style="background-image: url(img/main-banner11.jpg);"
            >
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="container">
                            <div class="home-banner-content">
                                <h1 data-shadow='#1 Ranked Web Marketing Agency'>#1 Ranked Web Marketing Agency</h1>
                                <p>An Agency is a service company hired to plan, create, and handle marketing or advertising related activities on behalf of its clients.</p>
                                <a routerLink="." class="default-btn" (click)="onClick('contact')">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div
                class="main-banner"
                style="background-image: url(img/main-banner12.jpg);"
            >
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="container">
                            <div class="home-banner-content">
                                <h1 data-shadow='Your Content Marketing, Solved!'>Your Content Marketing, Solved!</h1>
                                <p>An Agency is a service company hired to plan, create, and handle marketing or advertising related activities on behalf of its clients.</p>
                                <a routerLink="." class="default-btn" (click)="onClick('contact')">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </owl-carousel-o>
    <div class="scroll-btn">
        <a routerLink="." (click)="onClick('about')">
            <span class="mouse">
                <span></span>
            </span>
        </a>
    </div>
</div>

<!-- Only for Home Demo - 29 -->
<div
    class="home-slides-two"
    *ngIf="router.url === '/index-29' || router.url === '/index-35'"
>
    <div
        class="main-banner"
        style="background-image: url(img/main-banner10.jpg);"
    >
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="home-banner-content">
                        <h1 data-shadow='We Connect You to Your Consumers'>We Connect You to Your Consumers</h1>
                        <p>An Agency is a service company hired to plan, create, and handle marketing or advertising related activities on behalf of its clients.</p>
                        <a routerLink="." class="default-btn" (click)="onClick('contact')">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="scroll-btn">
        <a routerLink="." (click)="onClick('about')">
            <span class="mouse">
                <span></span>
            </span>
        </a>
    </div>
</div>