<nav
    class="navbar navbar-style-two navbar-expand-lg navbar-light bg-light"
    [ngClass]="{'is-sticky': isSticky, 'navbar-style-three': router.url === '/index-18' || router.url === '/index-30'}"
    [class.active]="classApplied"
>
    <div class="container">
        <a class="navbar-brand" routerLink="." (click)="onClick('home')">
            <img src="img/small-logo.png" alt="logo">
        </a>
        <button
            (click)="toggleClass()"
            class="navbar-toggler"
            type="button"
        >
            <span class="burger-menu">
                <span class="top-bar"></span>
                <span class="middle-bar"></span>
                <span class="bottom-bar"></span>
            </span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item" (click)="toggleClass()">
                    <span class="nav-link" (click)="onClick('home')">
                        Home
                    </span>
                </li>
                <li class="nav-item" (click)="toggleClass()">
                    <span class="nav-link" (click)="onClick('articles')">
                        Articles
                    </span>
                </li>
                <li class="nav-item" (click)="toggleClass()">
                    <span class="nav-link" (click)="onClick('blog')">
                        Blog
                    </span>
                </li>
                <li class="nav-item" (click)="toggleClass()">
                    <span class="nav-link" (click)="onClick('instagram')">
                        Instagram
                    </span>
                </li>
            </ul>
            <div class="others-option">
                <a href="https://www.google.com/" target="_blank" class="default-btn">
                    Shop Now
                </a>
            </div>
        </div>
    </div>
</nav>