<div class="activities-area py-5">
    <div class="container">
        <div class="section-title container-lg">
            <h2 class="sub-title">Our Activities</h2>
            <p class="mb-4 fst-italic">
                Discover unforgettable adventures with Royal Luxury Camp — from camel trekking and 4×4 desert rides 
                to exploring Morocco’s hidden gems and cultural traditions.
            </p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-works-box">
                    <div class="works-image">
                        <img src="img/works/img3.jpg" alt="image" />
                        <div class="overlay"></div>
                        <a routerLink="/activity-details" class="link-btn"></a>
                    </div>

                    <div class="works-content">
                        <h3 routerLink="/activity-details" style="cursor: pointer;">Camel Trekking</h3>
                        <p>Ride across the golden dunes and enjoy the breathtaking views of the Sahara Desert.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-works-box">
                    <div class="works-image">
                        <img src="img/works/img4.jpg" alt="image" />
                        <div class="overlay"></div>
                        <a routerLink="/activity-details" class="link-btn"></a>
                    </div>
                    <div class="works-content">
                        <h3 routerLink="/activity-details" style="cursor: pointer;">4×4 Desert Adventures</h3>
                        <p>Explore the desert in style and comfort with our exciting 4×4 rides.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-works-box">
                    <div class="works-image">
                        <img src="img/works/img5.jpg" alt="image" />
                        <div class="overlay"></div>
                        <a routerLink="/activity-details" class="link-btn"></a>
                    </div>
                    <div class="works-content">
                        <h3 routerLink="/activity-details" style="cursor: pointer;">Cultural Tours</h3>
                        <p>Discover Morocco’s culture, traditions, and hidden corners with our guided trips.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
