<div class="works-area pt-120 pb-90">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Activities</span>
            <h2>Some of My Creative Projects</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="single-works-box">
                    <div class="works-image">
                        <img src="img/works/img1.jpg" alt="image" />
                        <div class="overlay"></div>
                        <a routerLink="/work-details" class="link-btn"></a>
                    </div>
                    <div class="works-content">
                        <h3>
                            <a routerLink="/work-details">Festival Banner</a>
                        </h3>
                        <ul>
                            <li><a routerLink=".">Web</a></li>
                            <li><a routerLink=".">Banner</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="single-works-box">
                    <div class="works-image">
                        <img src="img/works/img2.jpg" alt="image" />
                        <div class="overlay"></div>
                        <a routerLink="/work-details" class="link-btn"></a>
                    </div>

                    <div class="works-content">
                        <h3>
                            <a routerLink="/work-details"
                                >Book Cover Presentation</a
                            >
                        </h3>
                        <ul>
                            <li><a routerLink=".">Design</a></li>
                            <li><a routerLink=".">Book</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-works-box">
                    <div class="works-image">
                        <img src="img/works/img3.jpg" alt="image" />
                        <div class="overlay"></div>
                        <a routerLink="/work-details" class="link-btn"></a>
                    </div>

                    <div class="works-content">
                        <h3><a routerLink="/work-details">Poster Vector</a></h3>
                        <ul>
                            <li><a routerLink=".">HTML</a></li>
                            <li><a routerLink=".">CSS</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-works-box">
                    <div class="works-image">
                        <img src="img/works/img4.jpg" alt="image" />
                        <div class="overlay"></div>
                        <a routerLink="/work-details" class="link-btn"></a>
                    </div>
                    <div class="works-content">
                        <h3>
                            <a routerLink="/work-details">Content Writing</a>
                        </h3>
                        <ul>
                            <li><a routerLink=".">Web</a></li>
                            <li><a routerLink=".">Text</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-works-box">
                    <div class="works-image">
                        <img src="img/works/img5.jpg" alt="image" />
                        <div class="overlay"></div>
                        <a routerLink="/work-details" class="link-btn"></a>
                    </div>
                    <div class="works-content">
                        <h3>
                            <a routerLink="/work-details">Digital Marketing</a>
                        </h3>
                        <ul>
                            <li><a routerLink=".">Web</a></li>
                            <li><a routerLink=".">HTML</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
