<div class="main-container">
    <!-- Aside Navbar -->
    <rlc-aside-navbar />
    <div>
        <div class="main-banner d-flex justify-content-center align-items-end"
        style="background-image: url(img/tours/banner-img.png)">
            <button  class="default-btn m-5 bg-dark"
            (click)="onClick('exploreTours')" >Explore Tours</button>
        </div>
        <!-- ///////////////// -->
        <div id="exploreTours" class="container pt-5 text-center ">
          <h5 class="text-uppercase tours mb-3">Royal Luxury Camp Morocco Tours</h5>
          <h2 class="fw-bold mb-4">Book Your Seat and Take on The Adventure</h2>
          <p class="">
            Book our newly designed travel tours and trips to discover Morocco and its regions, whether 
            it’s The Sahara Desert, Morocco Seas and Mountains, Monuments and Hidden Corners we have covered it
             all. Still we can update these tours and trips to suit your own preferences and likings in what to see and where to go and what to do in Morocco.
          </p>
         <div class="container-lg px-lg-5  py-5" >
  <div class="row g-4 justify-content-center">
    <!-- Tour 1 -->
     <div class="col-md-6">
      <div class="card h-100 p-3 border-0 rounded-4" >
          <div class="overflow-hidden rounded-4">
            <img src="img/tours/1.jpg" class="card-img-top rounded-4" alt="Tour from Marrakech to Merzouga">
          </div>
        <div class="card-body h-auto mt-3 rounded-4">
          <h5 class="card-title">3 Days Desert Tour from Marrakech to Merzouga</h5>
          <p class="card-text">
            Discover the wonders of the Moroccan Sahara with our 3 days tour from Marrakech to Merzouga. Delight in the allure of camel trekking and relish a magical night at an authentic Erg-Chebbi desert camp…
          </p>
            <a  class="default-btn">READ MORE</a>

        </div>
       
      </div>
    </div>
    <!-- Tour 2 -->
    <div class="col-md-6">
      <div class="card h-100 p-3 border-0 rounded-4" >
       
          <div class="overflow-hidden rounded-4">
            <img src="img/tours/2.jpg" class="card-img-top rounded-4" alt="Fes to Marrakech Tour">
          </div>
        <div class="card-body  mt-3 rounded-4">
          <h5 class="card-title">3 Days Tour from Fes to Marrakech Desert tour</h5>
          <p class="card-text">
            Explore and discover the magic of the Moroccan Sahara desert on our 3 days Fes to Marrakech desert tour. You will get to sleep in a luxury tent that is nestled in the middle of a blanket of stars...
          </p>
          <a  class="default-btn">READ MORE</a>
        </div>
       
      </div>
    </div>
     <!-- Tour 3 -->
    <div class="col-md-12">
      <div class="card h-100 p-3 border-0 rounded-4" >
       
          <div class="overflow-hidden rounded-4">
            <img src="img/tours/3.jpg" class="card-img-top rounded-4" alt="Tour from Ouarzazat to Merzouga Desert">
          </div>
        <div class="card-body  mt-3 rounded-4">
          <h5 class="card-title">4 Days Tour from Ouarzazat to Merzouga Desert</h5>
          <p class="card-text">
            Discover the famous dunes of Sahara’s Erg Chebbi on a unique 4-day desert tour from Ouarzazate to Merzouga. This adventure showcases diverse landscapes, including fortified Kasbahs, lush oases, breathtaking valleys, vast gorges, and majestic sand dunes….
          </p>
          <a  class="default-btn">READ MORE</a>
        </div>
       
      </div>
    </div>
     <!-- Tour 4 -->
    <div class="col-xxl-4 col-md-6 ">
      <div class="card h-100 p-3 border-0 rounded-4" >
       
          <div class="overflow-hidden rounded-4">
            <img src="img/tours/4.jpg" class="card-img-top rounded-4" alt="tour from Fes to Merzouga">
          </div>
        <div class="card-body  mt-3 rounded-4">
          <h5 class="card-title">3 days tour from Fes to Merzouga</h5>
          <p class="card-text">
            Tours from Fes to the desert and back are being increasingly requested. This particular tour from Fes to the dunes of Erg Chebbi highlights both the desert and the amazing diversity of Moroccan landscapes…
          </p>
          <a  class="default-btn">READ MORE</a>
        </div>
       
      </div>
    </div>
     <!-- Tour 5-->
    <div class="col-xxl-4 col-md-6 ">
      <div class="card h-100 p-3 border-0 rounded-4" >
       
          <div class="overflow-hidden rounded-4">
            <img src="img/tours/5.jpg" class="card-img-top rounded-4" alt="Tour from Casablanca to Marrakech">
          </div>
        <div class="card-body  mt-3 rounded-4">
          <h5 class="card-title">4 Days Desert Tour from Casablanca to Marrakech</h5>
          <p class="card-text">
            The 4 Days Desert Tour from Casablanca to Marrakech is a chance to visit different attractions and monuments in Casablanca, Rabat, Fes, and landscapes that will surely make you fall in love, to Camel ride in the Erg Chebbi dunes…
          </p>
          <a  class="default-btn">READ MORE</a>
        </div>
       
      </div>
    </div>
     <!-- Tour 6-->
    <div class="col-xxl-4 col-md-6 ">
      <div class="card h-100 p-3 border-0 rounded-4" >
       
          <div class="overflow-hidden rounded-4">
            <img src="img/tours/6.jpg" class="card-img-top rounded-4" alt="Merzouga Desert tour from Errachidia">
          </div>
        <div class="card-body  mt-3 rounded-4">
          <h5 class="card-title">3 Day Merzouga Desert tour from Errachidia</h5>
          <p class="card-text">
            3 Days tour Errachidia to Merzouga will give you the opportunity to explore Merzouga desert and spend plenty of time in Erg Chebbi dunes. you will also discover all the interesting sites around the Merzouga area…
          </p>
          <a  class="default-btn ">READ MORE</a>
        </div>
       
      </div>
    </div>
  </div>
        </div>
      
        </div>
        <!-- footer -->
        <rlc-footer />
    </div>
</div>   
