<div class="main-container">
    <!-- Aside Navbar -->
    <rlc-aside-navbar />
    <div>
        <div class="main-banner d-flex justify-content-center align-items-end"
        style="background-image: url(img/banner/tours.png)">
            <button  class="default-btn m-5 bg-dark"
            (click)="onClick('exploreTours')" routerLink=".">Explore Tours</button>
        </div>
        <!-- ///////////////// -->
        <div id="exploreTours" class="container py-5 text-center ">
          <h5 class="text-uppercase  mb-3">Royal Luxury Camp Morocco Tours</h5>
          <h2 class="fw-bold mb-4">Book Your Seat and Take on The Adventure</h2>
          <p class="">
            Book our newly designed travel tours and trips to discover Morocco and its regions, whether 
            it’s The Sahara Desert, Morocco Seas and Mountains, Monuments and Hidden Corners we have covered it
             all. Still we can update these tours and trips to suit your own preferences and likings in what to see and where to go and what to do in Morocco.
          </p>
        </div>
    </div>
</div>   
