<div class="main-container">
    <!-- Aside Navbar -->
    <rlc-aside-navbar />
    <div>
        <div class="main-banner d-flex justify-content-center align-items-end"
        style="background-image: url(img/tours/tours.png)">
            <button  class="default-btn m-5 bg-dark"
            (click)="onClick('exploreTours')" >Explore Tours</button>
        </div>
        <!-- ///////////////// -->
        <div id="exploreTours" class="container py-5 text-center ">
          <h5 class="text-uppercase tours mb-3">Royal Luxury Camp Morocco Tours</h5>
          <h2 class="fw-bold mb-4">Book Your Seat and Take on The Adventure</h2>
          <p class="">
            Book our newly designed travel tours and trips to discover Morocco and its regions, whether 
            it’s The Sahara Desert, Morocco Seas and Mountains, Monuments and Hidden Corners we have covered it
             all. Still we can update these tours and trips to suit your own preferences and likings in what to see and where to go and what to do in Morocco.
          </p>
          <div class="container py-5">
  <div class="row gap-3 justify-content-center">
    <!-- Tour 1 -->
    <div class="card col-md-5 p-3 rounded-4">
      <div class=" h-100 ">
        <img src="img/tours/Marrakesh.jpg" class="card-img-top rounded-4"
         alt="Marrakech to Merzouga Tour">
        <div class="card-body bg-dark mt-3 rounded-4">
          <h5 class="card-title fw-bold">3 Days Desert Tour from Marrakech to Merzouga</h5>
          <p class="card-text">
            Discover the wonders of the Moroccan Sahara with our 3 days tour from Marrakech to Merzouga. Delight in the allure of camel trekking and relish a magical night at an authentic Erg-Chebbi desert camp...
          </p>
          <a href="#" class="default-btn">READ MORE</a>
        </div>
      </div>
    </div>

    <!-- Tour 2 -->
    <div class="card col-md-5 rounded-4 p-3">
      <div class=" h-100 ">
        <img src="img/tours/fes-to-marrakech-through-the-desert-800x533.jpg" class="card-img-top rounded-4" alt="Fes to Marrakech Tour">
        <div class="card-body bg-dark rounded-4 mt-3">
          <h5 class="card-title fw-bold">3 Days Tour from Fes to Marrakech Desert tour</h5>
          <p class="card-text">
            Explore and discover the magic of the Moroccan Sahara desert on our Fes to Marrakech desert tour. You will get to sleep in a Luxury camp in the desert, and enjoy the beauty and tranquility of the desert...
          </p>
          <a href="#" class="default-btn">READ MORE</a>
        </div>
      </div>
    </div>
  </div>
</div>
        </div>
    </div>
</div>   
