<div class="projects-area pt-120 pb-90 bg-0f1d22">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-projects-box">
                    <img src="img/backpacker-projects/img1.jpg" alt="image">
                    <div class="content">
                        <div class="inner">
                            <h3><a routerLink="/blog-details">Been Too Long On The Road</a></h3>
                            <a routerLink="." class="category">Lifestyle</a>
                        </div>
                        <div class="date">
                            <span>January 29, 2025</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-projects-box">
                    <img src="img/backpacker-projects/img2.jpg" alt="image">
                    <div class="content">
                        <div class="inner">
                            <h3><a routerLink="/blog-details">Come On A Safari With Me</a></h3>
                            <a routerLink="." class="category">Life</a>
                        </div>
                        <div class="date">
                            <span>January 28, 2025</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-projects-box">
                    <img src="img/backpacker-projects/img3.jpg" alt="image">
                    <div class="content">
                        <div class="inner">
                            <h3><a routerLink="/blog-details">Happiness Is Just Around The Bend</a></h3>
                            <a routerLink="." class="category">World</a>
                        </div>
                        <div class="date">
                            <span>January 27, 2025</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-projects-box">
                    <img src="img/backpacker-projects/img4.jpg" alt="image">
                    <div class="content">
                        <div class="inner">
                            <h3><a routerLink="/blog-details">Having A Wonderful Time</a></h3>
                            <a routerLink="." class="category">Calendar</a>
                        </div>
                        <div class="date">
                            <span>January 26, 2025</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-projects-box">
                    <img src="img/backpacker-projects/img5.jpg" alt="image">
                    <div class="content">
                        <div class="inner">
                            <h3><a routerLink="/blog-details">Journey To The Center Of The Earth</a></h3>
                            <a routerLink="." class="category">Earth</a>
                        </div>
                        <div class="date">
                            <span>January 25, 2025</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-projects-box">
                    <img src="img/backpacker-projects/img6.jpg" alt="image">
                    <div class="content">
                        <div class="inner">
                            <h3><a routerLink="/blog-details">The Beginning Of The End</a></h3>
                            <a routerLink="." class="category">Tour</a>
                        </div>
                        <div class="date">
                            <span>January 24, 2025</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-projects-box">
                    <img src="img/backpacker-projects/img7.jpg" alt="image">
                    <div class="content">
                        <div class="inner">
                            <h3><a routerLink="/blog-details">Just Another Day In Paradise</a></h3>
                            <a routerLink="." class="category">Day</a>
                        </div>
                        <div class="date">
                            <span>January 23, 2025</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-projects-box">
                    <img src="img/backpacker-projects/img8.jpg" alt="image">
                    <div class="content">
                        <div class="inner">
                            <h3><a routerLink="/blog-details">Halfway To Paradise</a></h3>
                            <a routerLink="." class="category">Weather</a>
                        </div>
                        <div class="date">
                            <span>January 22, 2025</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-projects-box">
                    <img src="img/backpacker-projects/img9.jpg" alt="image">
                    <div class="content">
                        <div class="inner">
                            <h3><a routerLink="/blog-details">Midnight At The Oasis</a></h3>
                            <a routerLink="." class="category">Night</a>
                        </div>
                        <div class="date">
                            <span>January 21, 2025</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-projects-box">
                    <img src="img/backpacker-projects/img10.jpg" alt="image">
                    <div class="content">
                        <div class="inner">
                            <h3><a routerLink="/blog-details">Don’t Give Up The Ship</a></h3>
                            <a routerLink="." class="category">Lifestyle</a>
                        </div>
                        <div class="date">
                            <span>January 20, 2025</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-projects-box">
                    <img src="img/backpacker-projects/img11.jpg" alt="image">
                    <div class="content">
                        <div class="inner">
                            <h3><a routerLink="/blog-details">Foot Loose and Fancy Free s</a></h3>
                            <a routerLink="." class="category">Tour</a>
                        </div>
                        <div class="date">
                            <span>January 19, 2025</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-projects-box">
                    <img src="img/backpacker-projects/img12.jpg" alt="image">
                    <div class="content">
                        <div class="inner">
                            <h3><a routerLink="/blog-details">Getting There Is Half The Fun</a></h3>
                            <a routerLink="." class="category">Travel</a>
                        </div>
                        <div class="date">
                            <span>January 18, 2025</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>