<!-- Aside Navbar -->
<aside
    class="placid-aside bg-0f1d22"
    [class.active-placid-aside]="classApplied"
>
    <div class="logo">
        <a routerLink="/" >
            <img
                src="logo_royal_luxury_camp.svg"
                alt="Logo Royal Luxury Camp"
            />
        </a>
    </div>
    <div class="d-table">
        <div class="d-table-cell">
            <ul class="navbar-nav">
                <li class="nav-item" routerLink="/" (click)="toggleClass()">
                    <span class="nav-link" >
                        Home
                    </span>
                </li>
                <li class="nav-item" routerLink="/tours">
                    <span class="nav-link" >
                        Tours
                    </span>
                </li>
                <li class="nav-item" routerLink="/events">
                    <span class="nav-link" >
                        Events
                    </span>
                </li>
                <li class="nav-item" >
                    <span routerLink="/getting-here" class="nav-link">Getting Here</span>
                </li>
                <li class="nav-item" (click)="toggleClass()">
                    <span  class="nav-link" (click)="onClick('works')">
                        Activities
                    </span>
                </li>
                <li class="nav-item" (click)="toggleClass()">
                    <span class="nav-link" (click)="onClick('blog')">
                        Blog
                    </span>
                </li>
                <li class="nav-item" >
                    <span routerLink="/about-us" class="nav-link"> About Us </span>
                </li>
                <li class="nav-item" (click)="toggleClass()">
                    <span class="nav-link" (click)="onClick('contact')">
                        Contact
                    </span>
                </li>
            </ul>
        </div>
    </div>
    <div class="aside-footer">
        <a
            href="https://www.wetravel.com/users/best-of-morocco-camps"
            target="_blank"
            type="button"
            class="default-btn"
            (click)="onClick('contact')"
        >
            Book Now
        </a>
        <ul class="social">
            <li>
                <a href="https://medium.com/" target="_blank">
                    <i class="ri-medium-line"></i>
                </a>
            </li>
            <li>
                <a
                    href="https://www.youtube.com/@royalluxurycamp"
                    target="_blank"
                >
                    <i class="ri-youtube-line"></i>
                </a>
            </li>
            <li>
                <a
                    href="https://www.linkedin.com/company/royalluxurycamp"
                    target="_blank"
                >
                    <i class="ri-linkedin-box-line"></i>
                </a>
            </li>
            <li>
                <a
                    href="https://www.pinterest.com/royalluxurycamp/"
                    target="_blank"
                >
                    <i class="ri-pinterest-line"></i>
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/Rluxurycamp/" target="_blank">
                    <i class="ri-facebook-box-line"></i>
                </a>
            </li>
            <li>
                <a
                    href="https://www.tiktok.com/@royalluxurycamp"
                    target="_blank"
                >
                    <i class="ri-tiktok-line"></i>
                </a>
            </li>
            <li>
                <a
                    href="https://www.instagram.com/royalluxurycamp/"
                    target="_blank"
                >
                    <i class="ri-instagram-line"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="line"></div>
</aside>

<!-- Responsive Burger Menu -->
<div
    class="responsive-burger-menu"
    (click)="toggleClass()"
    [class.active]="classApplied"
>
    <span class="top-bar"></span>
    <span class="middle-bar"></span>
    <span class="bottom-bar"></span>
</div>
