<div class="training-area bg-0f1d22">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 image">
                <div
                    class="training-image"
                    style="background-image: url(img/training-bg1.jpg);"
                >
                    <img src="img/training-bg1.jpg" alt="image">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 content">
                <div class="training-content">
                    <div class="inner">
                        <h3>Hint</h3>
                        <p>High interest intensity interval training</p>
                        <ul>
                            <li>120 Minute Sessions</li>
                            <li>In-Home</li>
                            <li>Get 1-to-1 training</li>
                        </ul>
                        <div class="price">
                            $39.99 <span>/Per Session</span>
                        </div>
                        <a routerLink="." class="default-btn">Book Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="training-area bg-0f1d22">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 content">
                <div class="training-content left-content">
                    <div class="inner">
                        <h3>Boot Camp</h3>
                        <p>Burn a thousand calories per session</p>
                        <ul>
                            <li>60 Minute Sessions</li>
                            <li>Private Gym</li>
                            <li>Get 1-to-1 training</li>
                        </ul>
                        <div class="price">
                            $69.99 <span>/Per Session</span>
                        </div>
                        <a routerLink="." class="default-btn">Book Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 image">
                <div
                    class="training-image"
                    style="background-image: url(img/training-bg2.jpg);"
                >
                    <img src="img/training-bg2.jpg" alt="image">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="training-area bg-0f1d22">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 image">
                <div
                    class="training-image"
                    style="background-image: url(img/training-bg3.jpg);"
                >
                    <img src="img/training-bg3.jpg" alt="image">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 content">
                <div class="training-content">
                    <div class="inner">
                        <h3>Weight Training</h3>
                        <p>The real workout starts when you lift</p>
                        <ul>
                            <li>120 Minute Sessions</li>
                            <li>In-Home</li>
                            <li>Get 1-to-1 training</li>
                        </ul>
                        <div class="price">
                            $39.99 <span>/Per Session</span>
                        </div>
                        <a routerLink="." class="default-btn">Book Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="training-area bg-0f1d22">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 content">
                <div class="training-content left-content">
                    <div class="inner">
                        <h3>Personal Training</h3>
                        <p>Guaranties best result</p>
                        <ul>
                            <li>60 Minute Sessions</li>
                            <li>Private Gym</li>
                            <li>Get 1-to-1 training</li>
                        </ul>
                        <div class="price">
                            $69.99 <span>/Per Session</span>
                        </div>
                        <a routerLink="." class="default-btn">Book Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 image">
                <div
                    class="training-image"
                    style="background-image: url(img/training-bg4.jpg);"
                >
                    <img src="img/training-bg4.jpg" alt="image">
                </div>
            </div>
        </div>
    </div>
</div>