<div class="my-instagram-area pt-120 bg-0f1d22">
    <div class="container">
        <div class="instagram-title">
            <a href="https://www.instagram.com/" target="_blank">
                <i class="ri-instagram-line"></i>
                Follow us on &#64;placid
            </a>
        </div>
    </div>
    <div class="instagram-slides">
        <owl-carousel-o [options]="instagramSlides">
            <ng-template carouselSlide>
                <div class="single-instagram-post">
                    <img src="img/player-instagram/img1.jpg" alt="image">
                    <i class="ri-instagram-line"></i>
                    <a href="https://www.instagram.com/" target="_blank" class="link-btn"></a>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="single-instagram-post">
                    <img src="img/player-instagram/img2.jpg" alt="image">
                    <i class="ri-instagram-line"></i>
                    <a href="https://www.instagram.com/" target="_blank" class="link-btn"></a>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="single-instagram-post">
                    <img src="img/player-instagram/img3.jpg" alt="image">
                    <i class="ri-instagram-line"></i>
                    <a href="https://www.instagram.com/" target="_blank" class="link-btn"></a>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="single-instagram-post">
                    <img src="img/player-instagram/img4.jpg" alt="image">
                    <i class="ri-instagram-line"></i>
                    <a href="https://www.instagram.com/" target="_blank" class="link-btn"></a>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="single-instagram-post">
                    <img src="img/player-instagram/img5.jpg" alt="image">
                    <i class="ri-instagram-line"></i>
                    <a href="https://www.instagram.com/" target="_blank" class="link-btn"></a>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="single-instagram-post">
                    <img src="img/player-instagram/img6.jpg" alt="image">
                    <i class="ri-instagram-line"></i>
                    <a href="https://www.instagram.com/" target="_blank" class="link-btn"></a>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="single-instagram-post">
                    <img src="img/player-instagram/img7.jpg" alt="image">
                    <i class="ri-instagram-line"></i>
                    <a href="https://www.instagram.com/" target="_blank" class="link-btn"></a>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="single-instagram-post">
                    <img src="img/player-instagram/img8.jpg" alt="image">
                    <i class="ri-instagram-line"></i>
                    <a href="https://www.instagram.com/" target="_blank" class="link-btn"></a>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="single-instagram-post">
                    <img src="img/player-instagram/img9.jpg" alt="image">
                    <i class="ri-instagram-line"></i>
                    <a href="https://www.instagram.com/" target="_blank" class="link-btn"></a>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="single-instagram-post">
                    <img src="img/player-instagram/img10.jpg" alt="image">
                    <i class="ri-instagram-line"></i>
                    <a href="https://www.instagram.com/" target="_blank" class="link-btn"></a>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</div>