<div class="shop-area bg-0f1d22">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 image">
                <div
                    class="shop-image"
                    style="background-image: url(img/shop/shop-bg1.jpg);"
                >
                    <img src="img/shop/shop-bg1.jpg" alt="image">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 content">
                <div class="shop-content">
                    <div class="inner">
                        <h3>Alexander's Footwear</h3>
                        <p>High interest intensity interval training</p>
                        <div class="price">
                            $39.99 <span>/Per Footwear</span>
                        </div>
                        <a routerLink="." class="default-btn">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="shop-area bg-0f1d22">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 content">
                <div class="training-content left-content">
                    <div class="inner">
                        <h3>Alexander's Underwear</h3>
                        <p>High interest intensity interval training</p>
                        <div class="price">
                            $59.99 <span>/Per Underwear</span>
                        </div>
                        <a routerLink="." class="default-btn">Shop Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 image">
                <div
                    class="shop-image"
                    style="background-image: url(img/shop/shop-bg2.jpg);"
                >
                    <img src="img/shop/shop-bg2.jpg" alt="image">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="shop-area bg-0f1d22">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 image">
                <div
                    class="shop-image"
                    style="background-image: url(img/shop/shop-bg3.jpg);"
                >
                    <img src="img/shop/shop-bg3.jpg" alt="image">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 content">
                <div class="shop-content">
                    <div class="inner">
                        <h3>Alexander's Fragrances</h3>
                        <p>High interest intensity interval training</p>
                        <div class="price">
                            $99.99 <span>/Per Fragrances</span>
                        </div>
                        <a routerLink="." class="default-btn">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="shop-area bg-0f1d22">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 content">
                <div class="training-content left-content">
                    <div class="inner">
                        <h3>Alexander's Denim</h3>
                        <p>High interest intensity interval training</p>
                        <div class="price">
                            $119.99 <span>/Per Denim</span>
                        </div>
                        <a routerLink="." class="default-btn">Shop Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 image">
                <div
                    class="shop-image"
                    style="background-image: url(img/shop/shop-bg4.jpg);"
                >
                    <img src="img/shop/shop-bg4.jpg" alt="image">
                </div>
            </div>
        </div>
    </div>
</div>