<div class="main-container">
    <!-- Aside Navbar -->
    <rlc-aside-navbar />
    <div class="about-page">
        <div class="main-banner"
        style="background-image: url(img/banner/2.png)">
        <div class="overley position-absolute start-0 top-0 w-100 h-100">
            <h1 class="text-white">About <span class="ps-2">Royal Luxury Camp</span></h1>

        </div>
        </div>
        <!-- ////////// -->
        <div>
            <div class=" mt-5 px-lg-5 px-md-4 px-2">
                <p>Welcome our dear guests and Travelers of the world to an unforgettable Authentic experience of the Moroccan
                Sahara Desert while always staying in Luxury & Comfort. We help
                our camp guests to focus on exploring the golden part of our mother Nature. The Sahara.
                </p>
                <p class="py-2">So to do that we are offering you all our glamping sites at your disposal, fully 
                equipped with all what you need to stay comfortable and enjoy the staying and the discovery.
                </p>
                <p>Beside our luxury camping and glamping sites we offer travel tours and trips to assist you in
                 visiting the top famous spots and places worth visiting in Morocco.
                Then to even give you the best service and experience we help you adventure the Sahara through 
                exciting desert activities where you will enjoy everything the Sahara desert has to give
                 to its venturers
                </p>
            </div>
            <!-- Our Offers For Guests & Travelers -->
             <div class="ourOffers px-lg-5 px-md-4 px-2  mt-4">
                <h3 class="py-5">Our Offers For Guests & Travelers</h3>
                <div class="row justify-content-center g-3">
                    @for (offer of offers; track $index) {
                        <div class="col-xl-2 col-lg-3 col-md-4 col-6 h-100">
                            <div class="offers-card text-center" style="cursor: pointer;">
                                <div class="overflow-hidden rounded-2">
                                    <img [src]="offer.image" class="w-100 rounded-2" [alt]="offer.title">
                                </div>
                                <div class="card-body">
                                    <p class="card-title">{{offer.title}}</p>
                                </div>    
                            </div>
                        </div>
                    }
                </div>
             </div>
             <!-- Our History -->
                <div class="ourHistory px-lg-5 px-md-4 px-2 py-3 mt-5">
                    <h3 class="py-3">Our History</h3>
                    <div>
                        <div>
                            <p class="mb-0">2023</p>
                            <div class="ps-3">
                                <h5><i class="ri-arrow-down-long-fill"></i> 17 Luxury Tents & Terrasse Garden</h5>
                                <ul>
                                    <li>Along with the High golden sands we have planted a green terrasse garden in front of our</li>
                                </ul>
                            </div>
                        </div>
                        <!-- /////////// -->
                        <div>
                            <p class="mb-0">2020</p>
                            <div class="ps-3">
                                <h5><i class="ri-arrow-down-long-fill"></i> 9 More Glamping & Luxury Tents</h5>
                                <ul>
                                    <li>We have added 9 more luxury tents so we were proud to announce 
                                        the offering our Glamping services where
                                         our guests enjoy a premium experience they never forget about it
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- /////////// -->
                        <div>
                            <p class="mb-0">2017</p>
                            <div class="ps-3">
                                <h5><i class="ri-arrow-down-long-fill"></i> The Luxury Step</h5>
                                <ul>
                                    <li>In 1 year we have built for our dear guests 3 more luxurious tents fully equipped
                                         with all necessary means to stay in total comfort and luxury, mixing traditional
                                          nomadic with luxury and modernity
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- /////////// -->
                        <div>
                            <p class="mb-0">2016</p>
                            <div class="ps-3">
                                <h5><i class="ri-arrow-down-long-fill"></i> Authentic & Traditional Campstart</h5>
                                <ul>
                                    <li>We started our camping journey With One Traditional berber tent and one restaurant
                                         still we have had amazing experiences with guests from all around the globe
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
             <!-- Footer -->
             <rlc-footer/>   
        </div>
    </div>
</div>   
