<footer class="footer-area">
    <div class="container">
        <div class="footer-content">
            <div class="logo">
                <a routerLink=".">
                    <img
                        src="logo_royal_luxury_camp.svg"
                        alt="Logo Royal Luxury Camp"
                    />
                </a>
            </div>
            <div class="footer-contact-info">
                <ul>
                    <li>
                        <i class="ri-map-pin-line"></i>
                        <a
                            href="https://maps.app.goo.gl/uwgQyrX7UHrAzp5U6"
                            target="_blank"
                        >
                            Merzouga Merzouga, Morocco
                        </a>
                    </li>
                    <li>
                        <i class="ri-phone-line"></i>
                        <a href="tel:+212628824772"> (+212) 628824772 </a>
                    </li>
                    <li>
                        <i class="ri-mail-line"></i>
                        <a href="mailto:hello&#64;royalluxurycamp.com">
                            royalluxurycamp
                        </a>
                    </li>
                </ul>
            </div>
            <ul class="social">
                <li>
                    <a
                        href="https://medium.com/royalluxurycamp"
                        target="_blank"
                    >
                        Medium
                    </a>
                </li>

                <li>
                    <a
                        href="https://youtube.com/@royalluxurycamp"
                        target="_blank"
                    >
                        Youtube</a
                    >
                </li>
                <li>
                    <a
                        href="https://www.linkedin.com/company/royalluxurycamp"
                        target="_blank"
                    >
                        Linkedin
                    </a>
                </li>
                <li>
                    <a
                        href="https://pinterest.com/royalluxurycamp"
                        target="_blank"
                    >
                        Pinterest
                    </a>
                </li>
                <li>
                    <a
                        href="https://www.facebook.com/Rluxurycamp"
                        target="_blank"
                    >
                        Facebook
                    </a>
                </li>
                <li>
                    <a
                        href="https://www.tiktok.com/@royalluxurycamp"
                        target="_blank"
                    >
                        Tiktok
                    </a>
                </li>
                <li>
                    <a
                        href="https://www.instagram.com/royalluxurycamp"
                        target="_blank"
                    >
                        Instagram
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom-area">
        <div class="container">
            <p>
                Royal Luxury Camp © Copyrights 2011 - 2025 <br />
                All rights reserved
            </p>
        </div>
        <div class="line"></div>
    </div>
</footer>
