<!-- Default -->
<div
    class="home-area"
    [ngClass]="{'home-area-two': router.url === '/index-9' || router.url === '/index-15' || router.url === '/index-21', 'd-none': router.url === '/index-27' || router.url === '/index-40'}"
>
    <div class="home-slides">
        <owl-carousel-o [options]="homeSlides">
            <ng-template carouselSlide>
                <div
                    class="main-banner"
                    style="background-image: url(img/main-banner3.jpg);"
                ></div>
            </ng-template>
            <ng-template carouselSlide>
                <div
                    class="main-banner"
                    style="background-image: url(img/main-banner4.jpg);"
                ></div>
            </ng-template>
            <ng-template carouselSlide>
                <div
                    class="main-banner"
                    style="background-image: url(img/main-banner5.jpg);"
                ></div>
            </ng-template>
        </owl-carousel-o>
    </div>
    <div class="banner-content">
        <span class="sub-title">Hello I'am</span>
        <h1>Alexander Ludwig</h1>
        <h6>I'm a <span>Gym Trainer</span></h6>
    </div>
    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</div>

<!-- Only for Home Demo - 27 -->
<div
    class="home-area"
    [ngClass]="{'is-sticky': isSticky}"
    *ngIf="router.url === '/index-27'"
>
    <div class="home-slides">
        <owl-carousel-o [options]="homeSlides">
            <ng-template carouselSlide>
                <div
                    class="main-banner"
                    style="background-image: url(img/main-banner3.jpg);"
                ></div>
            </ng-template>
            <ng-template carouselSlide>
                <div
                    class="main-banner"
                    style="background-image: url(img/main-banner4.jpg);"
                ></div>
            </ng-template>
            <ng-template carouselSlide>
                <div
                    class="main-banner"
                    style="background-image: url(img/main-banner5.jpg);"
                ></div>
            </ng-template>
        </owl-carousel-o>
    </div>
    <div class="banner-content">
        <span class="sub-title">Hello I'am</span>
        <h1>Alexander Ludwig</h1>
        <h6>I'm a <span>Gym Trainer</span></h6>
    </div>
    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</div>

<!-- Only for Home Demo - 40 -->
<div
    class="main-banner video-banner"
    *ngIf="router.url === '/index-40'"
>
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="banner-content">
                    <span class="sub-title">Hello I'am</span>
                    <h1>Alexander Ludwig</h1>
                    <h6>I'm a <span>Gym Trainer</span></h6>
                </div>
            </div>
        </div>
    </div>
    <video loop muted autoplay poster="#" class="video-background">
        <source src="img/promo-video.mp4" type="video/mp4">
    </video>
    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</div>