<section class="accommodations text-center text-light py-5">
  <div class="container">
        <div class="section-title container-lg">
            <span class="sub-title">Accommodations</span>
            <h2>Royal Luxury Desert Camps</h2>
            <p class="mb-5 fst-italic py-3">
            We offer our camp guests diverse luxury accommodations to choose from —
            glamping tents designed and furnished to host guests with different
            preferences and expectations.
            </p>
        </div>
    <div class="row g-4 justify-content-center">
      <!-- Honeymoon Camp -->
      <div class="col-md-4">
        <div class="camp-card p-3 rounded-4 h-100">
          <div class="overflow-hidden rounded-4">
            <img src="img\accomodations/1.jpg" class="img-fluid rounded-4 " alt="Honeymoon Camp" />
          </div>
          <h5 class="fw-bold py-2">Honeymoon Camp</h5>
          <p class="">
            Our Honeymoon camp is designed for romantic couples & travel lovers who want to experience a
            Saharan Romantic Adventure. Perfect for weddings and desert parties.
          </p>
        </div>
      </div>

      <!-- Privilege Camp -->
      <div class="col-md-4">
        <div class="camp-card p-3 rounded-4 h-100">
          <div class="overflow-hidden rounded-4">
            <img src="img\accomodations/1.jpg" class="img-fluid rounded-4 " alt="Privilege Camp" />
          </div>
          <h5 class="fw-bold py-2">Privilege Camp</h5>
          <p>
            Privacy is our priority — the Privilege Camp gives you the entire experience exclusively.
            The camp is yours only. Enjoy The Privilegious Adventure.
          </p>
        </div>
      </div>

      <!-- Prestige Camp -->
      <div class="col-md-4">
        <div class="camp-card p-3 rounded-4 h-100">
          <div class="overflow-hidden rounded-4">
            <img src="img\accomodations/1.jpg" class="img-fluid rounded-4 " alt="Prestige Camp" />
          </div>
          <h5 class="fw-bold py-2">Prestige Camp</h5>
          <p>
            Prestige belongs to those who are Prestigious — “Marhaba”, we’ve equipped you with a Royal
            Luxury Camp for your prestige stay in the heart of the Sahara Desert.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

